@font-face {
    font-family: "Game";
    src: url('../FONTS/ARCADECLASSIC.TTF');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Game';
    letter-spacing: 1.5px;
}

body {
    background-image: url('../IMG/mosaic-alien-on-wall-1670977.jpg');
    background-size: contain;
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    padding: 50px;
    text-align: center;
}

header h1 {
    color: #ff5e00;
    -webkit-text-stroke: 2px #fff;
    font-size: 54px;
}

.menu {
    position: relative;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu .menuButtons {
    padding: 20px 5px;
    width: 100%;
    border: 0;
    font-size: x-large;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
}

@media only screen and (max-width: 756px) {
    .menu {
        position: relative;
        width: 100%;
        margin: 0 !important;
    }
    .menu .menuButtons {
        padding: 20px 5px;
        width: 100%;
        border: 0;
        font-size: large;
        border: 2px solid #fff;
        color: #fff;
        cursor: pointer;
        transition: 0.5s;
        border-radius: 5px;
    }
}


#partidaRapida {
    background-color: #00b7ff;
}

#treino {
    margin: 20px 0;
    background-color: #ff5100;
}

#ajuda {
    background-color: #01d336;
}

.menu .menuButtons:hover {
    opacity: 0.80;
}