@font-face {
    font-family: 'Arcade';
    src: url('../FONTS/ARCADECLASSIC.TTF');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arcade';
}

body {
    background-image: url('../IMG/mosaic-alien-on-wall-1670977.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-game-container {
    position: relative;
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-game-container .game-section {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-game-container .menu {
    width: 10%;
    height: 15%;
}
.main-game-container .game-section #mainPainelGame {
    position: relative;
    width: 75%;
    height: 70%;
    background-color: rgba(231, 231, 231, 0.74);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-game-container .game-section #mainPainelGame #decreaserCounter {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: 'Arcade', Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #ff7b00;
    border-radius: 5px;
    border: 3px solid #000;
    padding: 5px 20px;
}

.main-game-container .game-section .optionsToPlay {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.main-game-container .game-section .optionsToPlay .options {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.main-game-container .optionsToPlay .options div {
    display: inline-block;
    position: relative;
    margin: 0 0 0 10px;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    pointer-events: all;
}

.main-game-container .optionsToPlay .options div > img {
    position: absolute;
    width: 75%;
    height: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #fff;
}

.main-game-container .optionsToPlay > img {
    position: absolute;
    right: 0;
    width: 50px;
    background-color: #00aeff;
    border-radius: 50%;
    border: 2px solid #fff;
}
#user {
    margin-top: 10px;
}

#robot {
    margin-bottom: 10px;
}

.active {
    display: block;
}

.desactive {
    display: none;
}

.main-game-container #user div:active {
    background-color: #aaa;
}

.main-game-container #user div:active img {
    background-color: #aaa;
}

.main-game-container #user {
    bottom: 0;
}

.main-game-container #menu {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 120px;
    position: relative;
}

#menu button {
    width: 100%;
    margin-top: 15px;
    border: 0;
    font-family: 'Arcade', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #555;
    padding: 6px 0;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

button#play {
    background-color: #00aeff;
    color: #fff;
}

button#pause {
    background-color: #ff7b00;
    color: #fff;
}

button#restart {
    background-color: #00ff4c;
    color: #fff;
}

button#help{
    background-color: #ff9900;
    color: #fff;
}

button#exit {
    background-color: #ff0022;
    color: #fff;
}

.main-game-container .points {
    width: 10%;
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Arcade', Arial, Helvetica, sans-serif;
    padding: 0 20px;
}

.points p {
    position: relative;
    color: white;
    font-size: 50px;
    padding: 10px 20px;
    background: #0c0c0cb7;
    border-radius: 5px;
    text-align: center;
    margin: 5px 0;
}

.gameResponse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Arcade', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    padding: 5px;
    border-radius: 5px;
    display: none;
    text-align: center;
}

.win {
    background-color: #00aeff;
    color: #fff;
    display: block;
}

.lose {
    background-color: #ff1e00;
    color: #fff;
    display: block;
}

.tie {
    background-color: #5eff00;
    color: #fff;
    display: block;
}

.jogada {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #f5f5f5;
    background-size: cover;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 10px 0;
    border-radius: 5px;
    border: none;
}

#jogadaUser {
    bottom: 0;
}


@media only screen and (max-width: 756px) {
   .main-game-container {
       width: 100%;
       height: 100%;
       flex-direction: column;
       justify-content: flex-start;
   }
   .main-game-container .points {
       flex-direction: row;
       height: 8.5%;
       width: 100%;
       justify-content: center;
       margin: 10px;
   }
   .main-game-container .points p {
       margin: 0 5px;
   }
   .main-game-container .game-section {
       width: 100%; 
       height: 75%;
   }
   .main-game-container .game-section #mainPainelGame {
       width: 90%;
   }
   .main-game-container #menu{
       width: 100%;
       top: 0 !important;
       transform: none !important;
       justify-content: center;
   }
   #menu button{
       display: inline-block;
       width: auto;
       padding: 5px 10px;
       margin: 0 5px;
   }
   .main-game-container .optionsToPlay > img {
       right: 5%;
   }
   .main-game-container .game-section .optionsToPlay .options{
       width: 70%;
       margin-right: 10%;
   }
}
